.container {
  padding: 0px 10% 0px 10%;
  font-size: 14pt;
}

.tile {
  width: 20%;
  float: left;
  margin: 2%; 
  border: solid;
  box-sizing: border-box;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.button {
  float: left;
  margin: 20px;
}

.attributes {
  width: 35%;
  margin-top: 20px;
  box-sizing: border-box;
}

.footer {
  padding: 300px 10% 0px 10%;
  font-size: 14pt;
  text-align: center;
}